body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:beige;
}

p {
    color: black;
}

input {
    outline: none;
}

input:hover {
    box-shadow: 0 1px 6px #cdcdd1;
}

main {
    width: 100%;
    height: 450px;
    background-color: aqua;
}

main .namesSection {
    margin-left: 20px;
    width: 100%;
    display: grid;
}
